html {
    background-color: rgb(33, 33, 33);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;

    /* position: relative; */
    /* overflow: hidden; */
    -webkit-transform: translate3d(0,0,0);

}

html:before {
    content: '';
    position: fixed;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)), url(euler120.jpeg);
    background-repeat: repeat;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: scroll;
    z-index: -1;
    will-change: transform;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: #4587c9;
}

.heading {
    display: flex;
    align-items: center;
    position: relative;
}
.heading h3 {
    margin-top: 0;
}

#euler-title {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    margin-bottom: 0;
    line-height: 1;
}
#euler-title:active{
    color: grey;
}

.euler-icon {
    display: inline;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    clip-path: circle(30px at center);
}

#euler-popup {
    position: absolute;
    top: 100px;
    left: 0;
    padding: 10px;
    background-color: #306ca8;
    border-radius: 3px;
    border: 1px solid #4194e7;
    width: 130px;
    height: 70px;
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.content {
    background-color: rgba(50, 50, 50, 0.95);
    border-radius: 5px;
    margin: 0 auto;
    width: 750px;
    max-width: 100%;
    padding: 5px 20px 25px;
    color: rgb(215, 215, 215);
    border: 1px solid rgb(118, 118, 118);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    margin: 20px 10px;
}

.btn {
    background-color: #265483;
    padding: 7px 15px 7px;
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    display:flex;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
/* .btn:hover {
    background-color: #306ca8;
} */
.btn:active {
    background-color: #1e4469;
    color: #98b2cd;
}
.active {
    background-color: #1a3b5c !important;
    color: #98b2cd !important;
}

#directedDiv {
    background-color: #1a3b5c;
    border-radius: 2px;
    width: 70px;
    padding: 3px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid rgb(85, 85, 85);
}

#directedDiv-text {
    font-size: 12px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(62, 62, 62);;
    -webkit-transition: .2s;
    transition: .2s;
    /* border-radius: 3px; */
    /* border-top-left-radius: 2px; */
    /* border-top-right-radius: 2px; */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 25px;
    left: 5px;
    bottom: 4px;
    background-color: rgb(87, 87, 87);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 3px;
  }
  input:checked + .slider {
    background-color: rgb(121, 121, 121);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(121, 121, 121);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
    background-color: rgb(162, 162, 162);
  }

#result_div {
    font-size: 17px;
    opacity:0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(155, 155, 155);
    padding: 5px 10px;
    border-radius: 2px;
    transition: margin 0.2s;
    transition: border-color 0.2s;
    font-family:'Courier New', Courier, monospace;
}
.invalidResult {
    border-color: red !important;
    /* transition: border-color 0.05s !important; */
}
.validResult {
    border-color: green !important;
    /* transition: border-color 0.05s !important; */
}

.inputDiv {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.151);
    padding: 10px;
    border-radius: 2px;
}

#cy {
    width: 100%;
    height: 280px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 3px;
    transition: background-color 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    transition: height 0.2s;
}

input#edges {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 0;
    border-radius: 2px;
    padding: 6px;
    font-family:'Courier New', Courier, monospace;
    flex-grow: 1;
    min-width: 50px;
}
input#edges:focus {
    box-shadow: none;
    /* outline: 1px solid #265483; */
    /* border: 1px solid #265483; */
    background-color: rgba(255, 255, 255, 0.8);
}

/* label {
    font-size: 20px;
    padding: 6px 0 6px 6px;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.01);
    border-radius: 2px;
} */

ol {
    margin-top:5px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(97, 97, 97);
}

.info {
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* padding: 10px; */
}