html {
    background-color: rgb(33, 33, 33);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

html:before {
    content: '';
    position: fixed;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)), url(euler120.jpeg);
    background-repeat: repeat;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: scroll;
    z-index: -1;
    will-change: transform;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: #4587c9;
}

.heading {
    display: flex;
    align-items: center;
    position: relative;
}
.heading h3 {
    margin-top: 0;
}

.cursorPointerText {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
}

#euler-title {
    margin-bottom: 0;
    line-height: 1;
}
#euler-title:active{
    color: grey;
}

.euler-icon {
    display: inline;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    clip-path: circle(30px at center);
}

#euler-popup {
    position: absolute;
    top: 90px;
    left: 0;
    padding: 10px;
    background-color: #306ca8;
    border-radius: 3px;
    border: 1px solid #4194e7;
    width: 200px;
    height: 110px;
    display: none;
    opacity: 1;
    transition: opacity 0.4s;
    z-index: 10;
}

.content {
    background-color: rgba(50, 50, 50, 0.95);
    border-radius: 5px;
    margin: 0 auto;
    width: 750px;
    max-width: 100%;
    padding: 25px 25px;
    color: rgb(215, 215, 215);
    border: 1px solid rgb(118, 118, 118);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    margin: 20px 10px;
}

.btn {
    background-color: #265483;
    padding: 7px 15px 7px;
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    display:flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
/* .btn:hover {
    background-color: #306ca8;
} */
.btn:active {
    background-color: #1e4469;
    color: #98b2cd;
}
.active {
    background-color: #1a3b5c !important;
    color: #98b2cd !important;
}

#directedDiv {
    background-color: #1a3b5c;
    border-radius: 2px;
    width: 70px;
    padding: 3px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid rgb(85, 85, 85);
}

#directedDiv-text {
    font-size: 12px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    min-height: 25px;
    height: calc(100% - 15px);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(62, 62, 62);;
    -webkit-transition: .2s;
    transition: .2s;
  }
  /* The dot */
  .slider:before {
    position: absolute;
    content: "";
    min-height: 16px;
    height: calc(100% - 9px);
    width: 25px;
    left: 5px;
    bottom: 4px;
    background-color: rgb(87, 87, 87);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 3px;
  }
  input:checked + .slider {
    background-color: rgb(121, 121, 121);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(121, 121, 121);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
    background-color: rgb(162, 162, 162);
  }

#result_div {
    font-size: 17px;
    opacity:0;
    transition: opacity 0.2s, margin 0.2s, border-color 0.2s;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(155, 155, 155);
    padding: 5px 10px;
    border-radius: 2px;
    font-family:'Courier New', Courier, monospace;
}
.invalidResult {
    border-color: red !important;
}
.validResult {
    border-color: green !important;
}

.inputDiv {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.151);
    padding: 10px;
    border-radius: 2px;
}

#cy {
    width: 100%;
    height: 280px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 3px;
    transition: background-color 0.2s, height 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: calc(100vw - 30px);
}

textarea#edges {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 0;
    border-radius: 2px;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    flex-grow: 2;
    min-width: 50px;
    width: 400px;
    min-height: 27px;
    max-height: 400px;
}
textarea#edges:focus {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
}

ol {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-inline-start: 30px;
}

#info-arrow {
    margin-top: 1em;
    margin-right: 10px;
    position: relative;
    height: 20px;
}
#info-arrow:active {
    color: rgb(172, 172, 172);
}
#info-arrow-text {
    position: absolute;
    top: 0;
    left: 25px;
    width: 250px;
    max-width: calc(100vw - 40px);
    transition: opacity 0.4s;
}

#info-container {
    display: flex;
}

#info {
    display: inline-block;
    transition: max-height 0.4s;
    overflow: hidden;
}

#arrow {
    width: 0; 
    height: 0; 
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid rgb(215, 215, 215);
}
#info-arrow:active #arrow {
    border-left-color: rgb(172, 172, 172);
}
.arrow-down {
    margin-top: 6px;
    margin-left: -3px;
    border-bottom: none !important;
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid rgb(215, 215, 215) !important;
}
#info-arrow:active .arrow-down {
    border-top-color: rgb(172, 172, 172) !important;
}

.input-directions {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgb(97, 97, 97);
}

@media only screen and (max-width: 810px) {
    #cy {
        width: calc(100vw - 80px);
        margin: 0 auto;
    }
    textarea#edges {
        max-width: calc(100vw - 120px);
    }
}
@media only screen and (max-width: 500px) {
    .content {
        margin: 0;
        border-radius: 0;
        border: 0;
        padding: 15px;
        padding-top: 20px;
        box-shadow: none;
        min-height: calc(100vh - 35px);
        max-width: calc(100vw - 30px);
    }
    body {
        margin: 0;
    }
    p, li {
        font-size: 13px;
    }
    #cy {
        width: calc(100vw - 30px);
        margin: 0 auto;
    }
    textarea#edges {
        max-width: calc(100% - 20px);
        width: calc(100%);
        font-size: 16px;
    }
    h1 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1em;
    }
    #result_div {
        font-size: 14px;
    }
}